## Lesson 2 - List and For Loops
This lesson we are going to learn about lists and for loops.

### Resources
* [Teals Lists](https://tealsk12.github.io/2nd-semester-introduction-to-computer-science/units/2_unit/04_lesson/lesson.md.html)
* [Teals list 2](https://tealsk12.github.io/2nd-semester-introduction-to-computer-science/units/2_unit/05_lesson/lesson.md.html)
* [For Loops](https://tealsk12.github.io/2nd-semester-introduction-to-computer-science/curriculum_map.md.html#2ndsemester-introductiontocomputersciencecurriculummap/unit4map-nestedloopsandlists)

----
## Lists


Below is an example where we declares three variables, `name1`, `name2`, and `name3`, and assigns them the values "Bob", "Jo", and "Ash", respectively. Then, it prints out the value of `name3`.

In [1]:
name1 = "Bob"
name2 = "Jo"
name3 = "Ash"
print(name3)

Ash

Next we create a `list` called `names` and assigns it the values "Bob", "Jo", and "Ash". Then, it prints out the value of` names[2]`, which is "Ash".

The names **list** is a list of strings. **Lists** are a data type in Python that can store a collection of values. The values in a list can be of any type, including strings, numbers, and other lists.

To declare a list, you use the square brackets `[]`. The values in the list are separated by commas. For example, the following code declares a list called names and assigns it the values "Bob", "Jo", and "Ash": `names = ["Bob", "Jo", "Ash"]`

In [4]:
# lists decleration and assignment
names = ["Bob", "Jo", "Ash"]
print(names[2])
names[1] = "Mo"
print(names[1])
print(names)

Ash
Mo
['Bob', 'Mo', 'Ash']

To access a value in a list, you use the square brackets `[]` and the index of the value you want to access. The index of a **value in a list starts at 0**. For example, above code `prints` out the value of `names[2]`, which is "Ash".

Also from above we then then updates the value of `names[1]` to "Mo". Finally, it prints out the values of names[1] and names.

To update a value in a list, you use the square brackets `[]` and the index of the value you want to update. Then, you assign the new value to the variable. For example, the following code updates the value of `names[1]` to "Mo": `names[1] = "Mo"`

---
## For Loops

The `for` loop is a powerful tool that can be used to iterate through any sequence of values. It is often used to process lists, strings, and other data structures.

As an example of a `for` loop. A for loop is a control flow statement that allows you to execute a block of code repeatedly. The `range()` function in Python returns a sequence of numbers, starting from 0 and ending at the number you specify. In this case, the `range()` function returns a sequence of numbers from 0 to 2. The for loop then iterates through the sequence of numbers and prints each number.

In [9]:
# intro to loops
for i in range(3):
    print(i)
    #print(str(i) + ' | ' + names[i])

0
1
2

Using the example above about the `names` lets create a for loop to print out the names. 

Below we use a `for` loop that iterates through a list. The `len()` function in Python returns the length of a list. In this case, the `len()` function returns the length of the `names` list, which is 3. The for loop then iterates through the names list and prints each name.

In [5]:
# loops with lists and strings
for x in range(len(names)):
    print(names[x])

Bob
Mo
Ash

----
## Activity 1 and 1.2

go to lesson3_activity.ipynb and complete the activity 1 and 1.2

---
## More on Why we use Loops

In [ ]:
print("students 1")
print("students 2")
print("students 3")
print("students 4")
print("students 5")
print("students 6")
print("students 7")
print("students 8")
print("students 9")
print("students 10")

In [ ]:
for count in range(10):
    print("student 1")
    #print("students " + str(count + 1))

In [ ]:
for count in range(10):
    print("student " + count)

In [ ]:
for count in range(10):
    print("student " + str(count))

In [ ]:
for count in range(10):
    print("student " + str(count +1))

---
## Activity 2

> go to lesson3_activity2.ipynb and complete the activity 2

---
last example on loops

Output all even and odd students in separate list

In [1]:
for count in range (1, 21, 2):
    print("Student " + str(count))

Student 1
Student 3
Student 5
Student 7
Student 9
Student 11
Student 13
Student 15
Student 17
Student 19

In [4]:
for count in range (2, 21, 2):
    print("Student " + str(count))

Student 2
Student 4
Student 6
Student 8
Student 10
Student 12
Student 14
Student 16
Student 18
Student 20